*.log

.idea/*

.vscode/*

core/__pycache__/*.pyc
core/etl/__pycache__/*
core/tools/__pycache__/*.pyc
test/.ipynb_checkpoints/*

core/etl/checkpoints_qjy/*

czdf_streaming.log*

venv_pyetl/*

venv*/*

data/*

core/notebooks/.ipynb_checkpoints/*
core/etl/utils/__pycache__/*
test/__pycache__/*